[user]
	name = Dave Braze
	email = davebraze@gmail.com
[gui]
[gui]
[gui]
	spellingdictionary = none
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = wincred
